<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>The Highhells Site</title>
</head>
<body>
    <main>
        <h1>Highhells</h1>
        <div class="mainbg">
        <img src="images/IMG_6244.JPG" alt="leaf">
        </div>
    </main>
        <image src="images/scarpin3.png" alt="shoes">
            <p style="width:tamanho">Founded in 1972 by entrepreneurial brothers Anderson and Jefferson Birman, 
                today Arezzo is the largest retailer of women's footwear in Latin America,
                bringing together concept, high quality and contemporary design.</p>
                
                <p>The consolidation of the brand in the domestic market can also be seen 
                from its history of awards: it seven times Best Franchise in Brazil in 
                the Clothing, Footwear and Accessories Segment (Small Business & Big 
                Business Magazine); Alshop Visa Award, also received the HorsConcours 
                Award by the consumer vote; eight years of Excellence in Franchising 
                (Brazilian Franchising Association), Top of Mind (La Clé) and is not in 
                the ranking of the Most Valuable Brands in Brazil (Isto É Dinheiro).</p>
                
                <p>Today, the Arezzo franchise chain has more than 356 stores in 180 
                municipalities and is present in all Brazilian states. Choose your 
                favorite Arezzo, we are waiting for you.</p>
    <script src="js/main.js"></script>
</body>
</html>